<?xml version="1.0"?>

<configuration>


  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MCNSServiceSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="SsoWebServiceServiceSoapBinding"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="CustomBinding_ISecureService">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.2.10.134:4502/" binding="netTcpBinding" bindingConfiguration="CustomBinding_ISecureService" contract="RemoteService.ISecureService" name="CustomBinding_ISecureService"/>
      <endpoint address="http://10.2.10.134/secure/MCNSService.asmx" binding="basicHttpBinding" bindingConfiguration="MCNSServiceSoap" contract="MCNSService.MCNSServiceSoap" name="MCNSServiceSoap"/>
      <endpoint address="http://118.163.176.218:8080/sso/services/SsoWebService" binding="basicHttpBinding" bindingConfiguration="SsoWebServiceServiceSoapBinding" contract="SSOService.SsoWebService" name="SsoWebServicePort"/>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
<connectionStrings>
 
<add name="SecureDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.192.85.64,1357;initial catalog=SecureDB;user id=secure;password=secure;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true "/>
    </settings>
  </system.net> 
</configuration>
