<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MCNSServiceSoap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="CustomBinding_ISecureService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4502/" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_ISecureService" contract="RemoteService.ISecureService"
                name="CustomBinding_ISecureService" />
            <endpoint address="http://localhost:65254/MCNSService.asmx" binding="basicHttpBinding"
                bindingConfiguration="MCNSServiceSoap" contract="ServiceReference1.MCNSServiceSoap"
                name="MCNSServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>