<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="CustomBinding_ISecureService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.192.85.64:4502/" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_ISecureService" contract="RemoteService.ISecureService"
                name="CustomBinding_ISecureService" />
        </client>
    </system.serviceModel>
</configuration>